{% extends "encyclopedia/layout.html" %}

{% block title %}
  Create New Page
{% endblock %}

{% block body %}
  <h1>Create New Page</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group " style="margin-right: 20px;">
      <label for="title">Entry Title</label>
      <input  type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group" style="margin-right: 20px;">
      <label for="content">Content</label>
      <textarea class="form-control " id="content" name="content" rows="10"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
